<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto"
              style="width: 18rem"
            >
              <img
                class="card-img-top"
                src="{{characters.image}}"
              />
              <div class="card-body text-center">
                <h5 class="card-title text-center mb-2">
                    {{ characters.name }}
                </h5>
                <p class="text-center">
                    {{ characters.gender }}
                </p>
                <hr>
                <p class="text-center">
                    {{ characters.species }}
                </p>
              </div>
          </div>
      </div>
    </div>
</div>
